spring:

  application:
    name: stock-management

  profiles:
    active: test

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      root: INFO